[Desktop Entry]
Name=GAlice
Comment=alice-tools GUI
Exec=galice
Type=Application
Icon=technology.haniwa.galice
Categories=Development;FileTools;Qt
MimeType=application/x.alice-ain;application/x.alice-ald;application/x.alice-afa;application/x.alice-aar;application/x.alice-alk;application/x.alice-dlf;application/x.alice-acx;application/x.alice-ex;application/x.alice-ajp;application/x.alice-dcf;application/x.alice-pcf;application/x.alice-pms;application/x.alice-qnt;application/x.alice-rou;application/x.alice-flat
